.container {
  max-width: 100%;
  width: 100vw;
  height: 100vh;
  padding: 1%;
  background-color: blue;
  background-size: cover;
}

.shadow {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  padding: 2%;
}

.numbers {
  height: "10%";
  padding: "3%";
}

.tickets {
  background-color: white;
  background-size: cover;
  padding: 10px;
  border-radius: 15px;
}
.wheel {
  transform: translate(0%, 0%);
  animation: myfirst 1.5s infinite linear;
}

.circle {
  width: 9%;
  height: 6%;
  border-radius: 55%;
  color: white;
  background-color: blue;
  padding: 2%;
  margin: 2%;
  text-align: center;
}

@keyframes myfirst {
  0% {
    transform: translate(0%, 0%) rotate(0deg);
  }
  100% {
    transform: translate(0%, 0%) rotate(360deg);
  }
}
